.form-group {
    // width: 50vw;
    margin: auto;
    mat-form-field {
        width: 100%;
    }
}
.tab-cont {
    padding: 24px;
    max-width: 500px;
    margin: auto;
    border: 1px solid #a6a6a6;
    border-radius: 8px;
    form {
        padding: 36px 8px;
    }
}
.submit-btn {
    min-width: 200px;
    margin: auto;
    display: block;
}
