<div class="gb-flex-col gb-min-height">
    <span class="gb-oneflex"></span>
    <mat-tab-group mat-align-tabs="start" class="tab-cont">
        <mat-tab label="Log In">
            <div class="form">
                <form class="form-group" [formGroup]="userDetails" (ngSubmit)="signIn()">

                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Ex. abc@gmail.com" type="email" formControlName="email">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">
                    </mat-form-field>

                    <button color="primary" mat-raised-button type="submit" class="submit-btn">Sign In</button>

                </form>
            </div>
        </mat-tab>

        <mat-tab label="Sign Up">
            <div class="form">
                <form class="form-group" [formGroup]="userDetails" (ngSubmit)="signUp()">

                    <!-- <mat-form-field appearance="fill">
                        <mat-label>Full Name</mat-label>
                        <input matInput placeholder="Ex. John" type="text" formControlName="name">
                    </mat-form-field> -->
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Ex. abc@gmail.com" type="email" formControlName="email">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="confirm_password">
                    </mat-form-field>

                    <button color="primary" mat-raised-button type="submit" class="submit-btn">Sign Up</button>

                </form>
            </div>
        </mat-tab>
    </mat-tab-group>
    <span class="gb-oneflex"></span>
</div>