<div class="cont">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6 custom-card">
                <div class="card">
                    <h2>Subjects</h2>
                    <hr>
                </div>
            </div>
            <div class="col-md-6 custom-card">
                <div class="card">
                    <h2>Assignments</h2>
                    <hr>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 custom-card">
                <div class="card">
                    <h2>Upcoming Tests</h2>
                    <hr>
                </div>
            </div>
            <div class="col-md-6 custom-card">
                <div class="card">
                    <h2>Calander Schedule</h2>
                    <hr>
                </div>
            </div>
        </div>

    </div>

</div>