<div class="cont">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6 custom-card">
                <div class="card">
                    <h2>Subjects</h2>
                    <hr>

                    <mat-list>
                        <mat-list-item *ngFor="let class of classes">
                            <span>{{class.name}}</span>
                            <span class="gb-oneflex"></span>
                            <span>{{class.code}}</span>
                        </mat-list-item>
                    </mat-list>

                </div>
            </div>
            <div class="col-md-6 custom-card">
                <div class="card">
                    <h2>Assignments</h2>
                    <hr>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 custom-card">
                <div class="card">
                    <h2>Upcoming Tests</h2>
                    <hr>
                </div>
            </div>
            <div class="col-md-6 custom-card">
                <div class="card">
                    <h2>Calander Schedule</h2>
                    <hr>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="calander-cont">
                                <mat-calendar></mat-calendar>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <mat-list>
                                <mat-list-item *ngFor="let event of calEvents" class="list-item">{{event.title}}
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>