.cont {
    min-height: 100vh;
}
.custom-card {
    padding: 12px;
    .card {
        padding: 12px;
        min-height: 400px;
        h2 {
            font-size: 24px;
            margin: 0;
        }
    }
}
.calander-cont {
    max-width: 400px;
}
.list-item {
    border-bottom: 0.5px solid grey;
    border-top: 0.5px solid grey;
}
