<div mat-dialog-content>
    <p>
        <b>Name:</b> {{classData.name}}
        <b>Class Code:</b> {{classData.code}}
    </p>

    <div class="student-list">
        <mat-list>
            <div class="custom-list" *ngFor="let student of studentsList">
                <mat-list-item>{{student.firstname}} {{student.lastname}} - {{student.class_in}}
                    <button (click)="addStudentInClass(student)" mat-flat-button color="primary"
                        [ngStyle]="{'background':!student.enrolled?'#3f51b5':'red'}">
                        <mat-icon>
                            {{!student.enrolled?'add':'remove'}}
                        </mat-icon>
                    </button>
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>
        </mat-list>
    </div>

</div>